{{ define "main" }}

<main>
    <div class="column left">
        <img src="images/portrait.jpg" class="portrait" alt="Portrait" />
    </div>
    <div class="column right">
        {{- with .Param "greeting" -}}
            <h1>{{ . }}</h1>
        {{- else -}}
            <h1>{{ i18n "hello" }}.</h1>
        {{- end -}}
        <h2>{{ i18n "i-am" }} {{ .Site.Author.name | default "Hallo" }}.</h2>
        <p>{{- partial "introduction.html" . -}}</p>
        
        <div class="links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>
</main>

{{ end }}
